<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <base target="_top" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Zoom Levels Tutorial - Leaflet</title>

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

        <style>
            html,
            body {
                height: 100%;
                margin: 0;
            }
            .leaflet-container {
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>

        <script>
            const map = L.map("map", {
                minZoom: 0,
                maxZoom: 1,
            });

            const cartodbAttribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attribution">CARTO</a>';

            const positron = L.tileLayer("https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png", {
                attribution: cartodbAttribution,
            }).addTo(map);

            setInterval(() => {
                map.setZoom(0);

                setTimeout(() => {
                    map.setZoom(1);
                }, 2000);
            }, 4000);

            const ZoomViewer = L.Control.extend({
                onAdd() {
                    const gauge = L.DomUtil.create("div");
                    gauge.style.width = "200px";
                    gauge.style.background = "rgba(255,255,255,0.5)";
                    gauge.style.textAlign = "left";
                    map.on("zoomstart zoom zoomend", (ev) => {
                        gauge.innerHTML = `Zoom level: ${map.getZoom()}`;
                    });
                    return gauge;
                },
            });

            const zoomViewer = new ZoomViewer().addTo(map);

            map.setView([0, 0], 0);
        </script>
    </body>
</html>
